
section{
  text-align: center;
}


footer{
    text-align: right;

    font-size: xx-small;
}
h2{
  text-align: left;
  padding-left:150px;
  padding-right: 150px;
}
h5{
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
}
p{
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
}