
header{
    margin-bottom: 30px;
}

section{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}
section h1{
    padding-right: 85%;
}
article{
    border: 3px ridge black;

    width: 709px;
    height: 340px;

    margin-bottom: 20px;
    display: flex;
justify-content:end;
}

article button{
    background-color: rgb(4, 150, 4);

    color: white;
    
    border: 0px;
    
    margin-top: 5px;

    padding-top: 10px;
    padding-bottom: 10px;


}

img{
    width: 300px;
    height: 330px;
     margin-left:200px;
    
}
.tipo{
height:340px;
background-color:blue;
width:200px;
}