
section{
  text-align: center;
}


footer{
    text-align: right;

    font-size: xx-small;
}
h2{
  text-align: left;
  padding-left:20px;
  padding-right: 20px;
}
h5{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
p{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.buttonicio{
  position: relative;
  left: 850px;
  border-radius: 8px;
  background-color: lightblue;
  border: solid;
  padding: 10px 10px 10px 10px;
  margin: 5px;
}