.text{
 padding-left: 50px;
}
h2 {
  padding-left: 50px;
  padding-right: 50px;
}
h5 {
  padding-left: 50px;
  padding-right: 50px;
}
p {
  padding-left: 50px;
  padding-right: 50px;
}
.buttonicio {
  position: relative;
  left: 850px;
  border-radius: 8px;
  background-color: lightblue;
  border: solid;
  padding: 10px 10px 10px 10px;
  margin: 5px;
}
canvas {
  width: 100px;
  height: 100px;
}
div {
  display: initial;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--linear-gradient);

}

#calculator {

    padding: 40px;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#calculator h2 {
    font-size: 30px;
    position: relative;
}

#calculator h2::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label {
    font-size: 15px;

    font-weight: 500;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4c1d95;

    font-size: 20px;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

#result {
    text-align: center;
}

#total {
    font-size: 40px;
}
p.text{
  margin: 0px;
}
.calculate, #calculate {
    background: var(--linear-gradient);
    border: none;
    padding: 10px;

    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;


      height: 40px;
      text-decoration: none;
      background-color: rgb(4, 150, 4);
      color: white;
      border: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    
}
