
section{
  text-align: center;
}


h2{
  text-align: left;
  padding-left:50px;
  padding-right: 50px;
}
h5{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}
p{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}
.buttonicio{
  position: relative;
  left: 850px;
  border-radius: 8px;
  background-color: lightblue;
  border: solid;
  padding: 10px 10px 10px 10px;
  margin: 5px;
}
canvas{
  width: 100px;
  height: 100px;
}
div{
  display: initial;
}